header {
  background: linear-gradient(45deg, rgb(44, 32, 26) 30%, rgb(41, 39, 30) 90%);
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
}

h1 {
  font-size: 300%;
  text-shadow: 1px 1px 50px rgb(229, 235, 230);
  color: aliceblue;
  margin-left: 35%;
}